<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<div th:replace="navbar :: navbar"></div>
<head lang="en"th:replace="header :: header"></head>

<!-- Start Products  -->
    <div class="products-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>Fruits & Vegetables</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet lacus enim.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="special-menu text-center">
                        <div class="button-group filter-button-group">
                            <button class="active" data-filter="*">All</button>
                            <button data-filter=".top-featured">Top featured</button>
                            <button data-filter=".best-seller">Best seller</button>
                        </div>
                    </div>
                </div>
            </div>
               <!-- Start Products  -->
               
               <div th:each="iv:${items}">
                <img th:src="@{/itemuploads/{fname}(fname=${iv.ItemImage})}" />
                 
                         
          <div><a th:href="@{/login?redirect=/user/cart/addtocart/{id}(id=${iv.ItemId})}" class="btn btn-success" > Add To Cart</a></div>
               
                 <div class="why-text">
                <span th:text="${iv.ItemName}"></span>               
                <span th:text="${iv.ItemPrice}"></span>
               </div>
               
               
               </div>
               
               <!-- End Products  -->

</div>
<div th:replace="footer :: footer"></div> 
</html>



